<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Payment Failed - Return Order Management System</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<main class="d-flex align-items-center align-content-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4">
                <div class="card card-component justify-content-center text-center">
                    <img class="mx-auto result-image" src="../static/images/remove.png"
                         th:src="@{/images/remove.png}"
                         alt="checked"/>
                    <h2>Failed</h2>
                    <p>Payment was Unsuccessful.</p>
                    <form name="goToPayment" th:action="@{/goToPayment}" method="post">
                        <input type="submit" class="btn btn-primary mx-auto" value="Retry Payment"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
</body>
</html>
