<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Home - Return Order Management System</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<main class="d-flex align-items-center min-vh-100 py-3 py-md-0">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="card card-component">
                    <h2 class="card-heading"><b>Create Return Request</b></h2>
                    <form name="returnForm" method="post" th:action="@{/processReturnRequest}">
                        <div class="row">
                            <div th:if="${param.retry}" class="alert alert-danger">
                                Unable to process the return request, please try again.
                            </div>
                            <div th:if="${param.message}" class="alert alert-info">
                                <p th:text="${param.message}">Message</p>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="userName">Customer Name <span>*</span></label>
                                    <input type="text" name="userName" id="userName" class="form-control"
                                           placeholder="Ex: Bruce" required="required">
                                </div>
                                <div class="form-group">
                                    <label for="contactNumber">Contact Number <span>*</span></label>
                                    <input type="tel" class="form-control"
                                           placeholder="Ex: 9999912345"
                                           name="contactNumber" id="contactNumber"
                                           required="required"/>
                                </div>
                                <div class="form-group">
                                    <label for="anotherNumber">Another Number </label>
                                    <input type="tel" class="form-control"
                                           placeholder="Ex: 9999912345"
                                           name="anotherNumber" id="anotherNumber"/>
                                </div>
                                <div class="form-group">
                                    <label for="componentName">Component Name <span>*</span></label>
                                    <input type="text" class="form-control"
                                           name="componentName" id="componentName"
                                           placeholder="Ex: Laptop"
                                           required="required">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="componentType">Select Component Type <span>*</span></label>
                                    <select class="form-control" name="componentType"
                                            id="componentType" required="required"
                                            onchange="checkHighPriority(this);">
                                        <option id="accessory" value="accessory">Accessory Component</option>
                                        <option id="integral" value="integral">Integral Component</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <div id="ifYes" style="display: none;">
                                        <input type="checkbox" value="1"
                                               id="isPriorityRequest"
                                               name="isPriorityRequest">
                                        <label for="isPriorityRequest">Priority Request</label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="quantity">Quantity <span>*</span></label>
                                    <input type="text" class="form-control"
                                           name="quantity" id="quantity"
                                           placeholder="Ex: 1 , 20"
                                           required="required">
                                </div>

                                <button type="submit" class="btn btn-danger">Confirm Return</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-3 my-auto text-center text-white">
                <div class="row align-items-center align-content-center">
                    <img class="mx-auto animate-image"
                         src="../static/images/returns.png"
                         th:src="@{/images/returns.png}"
                         style="height: 35%; width: 65%;" alt="logo"/>
                </div>
                <h1><b>Welcome!</b></h1>
                <p><b>Create a return request for your product.</b></p>
            </div>
        </div>
    </div>
</main>
</body>
<script type="text/javascript">
    function checkHighPriority(that) {
        if (that.value === "integral") {
            document.getElementById("ifYes").style.display = "block";
        } else {
            document.getElementById("ifYes").style.display = "none";
        }
    }
</script>
</html>
