<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Payment - Return Order Management System</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>

</head>
<body>
<div>
    <h1>Payment</h1>
    <div th:if="${param.error}" class="alert alert-danger">
        Unable to make the payment for the return request, please try again.
    </div>
    <div th:if="${param.insufficientBalance}" class="alert alert-info">
        You don't have sufficient balance to make the payment. Try again with another card number
    </div>
    <div th:if="${param.failed}" class="alert alert-danger">
        Failed
    </div>
    <div th:if="${param.success}" class="alert alert-success">
        Success
    </div>
    <form name="paymentForm" method="post" th:action="@{/processPaymentForRequest}">
        <div class="form-group">
            <label for="cardNumber">Card Number *</label>
            <input type="text" name="cardNumber" id="cardNumber" class="form-control"
                   placeholder="Enter card number" required="required">
        </div>
        <button type="submit" class="btn btn-primary">Make Payment</button>

    </form>
</div>
</body>

</html>
