
body {
    background: #D31027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    min-height: 100vh;
}

.brand-wrapper {
    margin-bottom: 19px;
}

.brand-wrapper .logo {
    height: 37px;
}

.logoImage {
    height: 300px
}

.login-card {
    border: 0;
    border-radius: 27.5px;
    box-shadow: 0 10px 30px 0 rgba(172, 168, 168, 0.43);
    overflow: hidden;
}

.login-card .card-body {
    padding: 85px 60px 60px;
}

@media (max-width: 422px) {
    .login-card .card-body {
        padding: 35px 24px;
    }
}

.login-card-description {
    font-size: 25px;
    color: #000;
    font-weight: normal;
    margin-bottom: 23px;
}

.login-card form {
    max-width: 326px;
}

.login-card .form-control {
    border: 1px solid #d5dae2;
    padding: 15px 25px;
    margin-bottom: 20px;
    min-height: 45px;
    font-size: 13px;
    line-height: 15;
    font-weight: normal;
}

.login-card .form-control::-webkit-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::-moz-placeholder {
    color: #919aa3;
}

.login-card .form-control:-ms-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::-ms-input-placeholder {
    color: #919aa3;
}

.login-card .form-control::placeholder {
    color: #919aa3;
}

.login-card .login-btn {
    padding: 13px 20px 12px;
    background-color: red;
    border-radius: 4px;
    font-size: 17px;
    font-weight: bold;
    line-height: 20px;
    color: #fff;
    margin-bottom: 24px;
}

.login-card .login-btn:hover {
    border: 1px solid #000;
    background-color: transparent;
    color: #000;
}

.login-card-footer-nav a {
    font-size: 14px;
    color: #919aa3;
}
